@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/PTSans.woff") format("woff"), url("../fonts/PTSans.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.woff2") format("woff2");
    font-display: swap;
}


/* Variables */

 :root {
    --basic-gray: #888888;
    --basic-gray-promo-text: #333333;
    --basic-white-gray: #EEEEEE;
    --basic-light-grey: #F2F2F2;
    --basic-light-grey-hover: #EBEBEB;
    --basic-light-grey-border-box: #E5E5E5;
    --basic-gray-text-rating: #666666;
    --basic-gray-calendar: #A9A9A9;
    --basic-gray-footer-logo-press: #BDBBBC;
    --basic-gray-arrow-up: #CACACA;
    --basic-gray-filter-button: #ABABAB;
    --basic-gray-filter-button-03: rgba(171, 171, 171, 0.3);
    --basic-gray-block: #6A6A6A;
    --basic-blue: #81B3D2;
    --basic-blue-logo: #81B3D3;
    --basic-blue-hover: #669EC0;
    --basic-blue-active: #5496BD;
    --basic-white: #FFFFFF;
    --basic-white-03: rgba(255, 255, 255, 0.3);
    --basic-black: #000000;
    --basic-black-01: rgba(0, 1, 1, 0.15);
    --basic-black-03: rgba(0, 0, 0, 0.3);
    --basic-brown: #766357;
    --basic-brown-text: #766458;
    --basic-brown-hover: #604E43;
    --basic-brown-active: #503E33;
    --footer-background: rgba(255, 255, 255, 0.9);
    --footer-box-shadow-catalog: rgba(0, 1, 1, 0.2);
    --body-fonts: "PT Sans", Arial, sans-serif;
}


/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-body {
    min-width: 1200px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--body-fonts);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-gray);
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--basic-white);
    box-shadow: 0px 5px 15px var(--basic-light-02);
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content 1fr min-content;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* Button */

.btn {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-blue);
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--basic-blue-hover);
}

.btn:active {
    background-color: var(--basic-blue-active);
    color: var(--basic-white-03);
}

.btn.btn-second {
    background-color: var(--basic-brown);
}

.btn.btn-second:hover {
    background-color: var(--basic-brown-hover);
}

.btn.btn-second:active {
    background-color: var(--basic-brown-active);
}


/* Page-main-navigation */

.page-header {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: relative;
    padding: 15px 0;
}

.page-nav {
    display: flex;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.nav-link {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 25%;
}

.nav-link:nth-child(4n+1) {
    padding-left: 72px;
    padding-right: 20px;
}

.nav-link:nth-child(4n+2) {
    padding-right: 80px;
}

.nav-link:nth-child(4n+3) {
    text-align: right;
    padding-left: 80px;
}

.nav-link:nth-child(4n+4) {
    text-align: right;
    padding-right: 72px;
    padding-left: 20px;
}

.nav-link {
    color: var(--basic-black);
}

.nav-link:hover {
    color: var(--basic-blue);
}

.nav-link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.nav-link:focus {
    color: var(--basic-brown);
}

.page-header-logo {
    display: block;
    width: 138px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


/* Main banner */

.main-banner {
    position: relative;
    background-color: var(--basic-blue);
    background-image: url("../img/index/background_photo_jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    padding: 76px 0 76px 0;
}

.main-banner::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../img/index/shape.svg");
    width: 100%;
    height: 57px;
}

.welcome_svg {
    margin: 0;
    object-fit: cover;
}

.promo {
    padding-top: 42px;
}

.promo-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto 44px auto;
    max-width: 470px;
}

.promo-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-dark-green);
    margin: 0 auto 51px auto;
    text-align: center;
    max-width: 800px;
}


/* Reasons */

.reasons-row {
    display: flex;
}

.reasons-item {
    box-sizing: border-box;
    width: 400px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    padding: 48px 44px 54px 44px;
    text-align: center;
}

.reasons-item-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    margin: 0 auto 27px auto;
    max-width: 151px;
}

.reasons-item-title {
    display: block;
    margin-bottom: 23px;
}

.reasons-row-last .reasons-item {
    background-color: var(--basic-white-gray);
    color: var(--basic-black);
}

.reasons-row-last {
    background-color: var(--basic-white-gray);
}


/* Features */

.features {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-item-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    margin: 0 auto 27px auto;
    max-width: 151px;
}

.features-item {
    box-sizing: border-box;
    width: 400px;
    padding: 0 55px;
    padding-top: 160px;
    padding-bottom: 82px;
    text-align: center;
    position: relative;
}

.features-item::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.features-item-house::before {
    background-image: url("../img/index/icon-1-house.svg");
    width: 75px;
    height: 72px;
    top: 62px;
}

.features-item-food::before {
    background-image: url("../img/index/icon-3-food.svg");
    width: 75px;
    height: 70px;
    top: 62px;
}

.features-item-presents::before {
    background-image: url("../img/index/icon-2-presents.svg");
    width: 64px;
    height: 77px;
    top: 56px;
}

.features-item-description {
    color: var(--basic-gray-promo-text);
    margin: 0;
}


/* Form search */

.booking {
    position: relative;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    padding-top: 55px;
}

.booking-title {
    display: block;
    margin: 0 auto 34px auto;
    max-width: 500px;
}

.booking-reasons {
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-dark-green);
    margin: 0 auto 44px auto;
    max-width: 450px;
}

.booking-button-search {
    font-size: 21px;
    line-height: 26px;
    width: 568px;
    min-height: 86px;
    margin: 0 auto;
    padding: 30px 125px;
}

.map-block {
    position: relative;
    top: 0;
    bottom: 0;
}


/* Footer */

.page-footer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.page-footer-index {
    background: var(--footer-background);
    margin-top: -120px;
    position: relative;
    z-index: 1;
}

.footer-info {
    padding-left: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding-top: 23px;
}

.footer-info-hashtag {
    display: block;
    margin: 0 0 9px 0;
}

.footer-info-phone {
    color: var(--basic-black);
}

.footer-info-phone:hover {
    color: var(--basic-light-blue);
}

.footer-info-phone:active {
    color: var(--basic-black-03);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: var(--basic-blue);
}

.social-item {
    margin-right: 6px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-link svg {
    fill: var(--basic-white);
}

.social-link:hover {
    background-color: var(--basic-blue-hover);
}

.social-link:active {
    background-color: var(--basic-blue-active);
}

.social-link:active svg {
    opacity: 0.3;
}

.website-by {
    margin-right: 15px;
}

.footer-dev {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.footer-dev-link {
    display: flex;
}

.footer-dev-svg {
    fill: var(--basic-black);
}

.footer-dev-svg:hover {
    fill: var(--basic-blue);
}

.footer-dev-svg:active {
    fill: var(--basic-blue-active);
}


/* Booking forma */

.form {
    width: 568px;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: var(--basic-white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 55px;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.form.form-open {
    transform: translateY(0);
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 593px;
    border: none;
}

.error {
    animation-name: error;
    animation-duration: 0.3s;
}

@keyframes error {
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.booking-form {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.form-arrival {
    position: relative;
}

.arrival-label {
    margin-right: 18px;
}

.arrival-input {
    width: 346px;
    padding: 10px 40px 10px 16px;
    margin-bottom: 30px;
    max-height: 38px;
    font: inherit;
    background-color: var(--basic-light-grey);
    font-size: 14px;
    border: none;
}

.arrival-input:hover {
    background-color: var(--basic-light-grey-hover);
}

.arrival-input:focus {
    background-color: var(--basic-white);
}

.form-exit {
    position: relative;
}

.exit-label {
    margin-right: 15px;
}

.exit-input {
    width: 346px;
    padding: 10px 40px 12px 16px;
    margin-bottom: 30px;
    max-height: 38px;
    font: inherit;
    background-color: var(--basic-light-grey);
    border: none;
}

.exit-input:hover {
    background-color: var(--basic-light-grey-hover);
}

.exit-input:focus {
    background-color: var(--basic-white);
}

.btn-calendar {
    position: absolute;
    top: 0;
    right: 0px;
    border: none;
    background-color: transparent;
    width: 38px;
    height: 38px;
    padding: 0;
    cursor: pointer;
}

.btn-calendar:hover path {
    fill: var(--basic-black);
}

.btn-calendar:active path {
    fill: var(--basic-blue);
}

.form-people {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 56px auto;
    width: 458px;
}

.adults-people {
    position: relative;
}

.adults-input {
    margin-left: 35px;
    padding: 9px 35px;
    width: 113px;
    font-weight: 700;
    text-align: center;
    background-color: var(--basic-light-grey);
    border: none;
}

.adults-input:hover {
    background-color: var(--basic-light-grey-hover);
}

.adults-input:focus {
    background-color: var(--basic-white);
}

.children-input {
    margin-left: 35px;
    padding: 9px 35px;
    width: 113px;
    font-weight: 700;
    text-align: center;
    background-color: var(--basic-light-grey);
    border: none;
}

.children-input:hover {
    background-color: var(--basic-light-grey-hover);
}

.children-input:focus {
    background-color: var(--basic-white);
}

.btn-minus-adults {
    position: absolute;
    top: 1px;
    left: 50%;
    width: 39px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn-minus-adults:hover rect {
    fill: var(--basic-black);
}

.btn-minus-adults:active rect {
    fill: var(--basic-blue);
}

.btn-plus-adults {
    position: absolute;
    top: 3px;
    right: 0;
    width: 39px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn-plus-adults:hover path {
    fill: var(--basic-black);
}

.btn-plus-adults:active path {
    fill: var(--basic-blue);
}

.form-children {
    position: relative;
}

.btn-minus-children {
    position: absolute;
    top: 1px;
    right: 38%;
    width: 39px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn-minus-children:hover rect {
    fill: var(--basic-black);
}

.btn-minus-children:active rect {
    fill: var(--basic-blue);
}

.btn-plus-children {
    position: absolute;
    top: 3px;
    right: 0;
    width: 39px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn-plus-children:hover path {
    fill: var(--basic-black);
}

.btn-plus-children:active path {
    fill: var(--basic-blue);
}

.btn-form-search {
    font-size: 21px;
    line-height: 26px;
    padding: 16px 182px;
}


/* Catalog-hotels */

.nav-link-active {
    color: var(--basic-brown);
    pointer-events: none;
}


/* Hotels-search-form */

.hotels-search-form {
    display: flex;
    background-color: var(--basic-blue);
    background-image: url("../img/catalog/background_filter.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hotels-search-set {
    min-width: 182px;
    margin: 0;
    padding: 0;
    padding-top: 27px;
    padding-left: 72px;
    padding-bottom: 31px;
    border: none;
    color: var(--basic-white);
    text-transform: uppercase;
}

.hotels-search-set-title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.hotels-search-set-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hotels-search-set-label {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    padding-left: 40px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;
    cursor: pointer;
}

.hotels-search-set-item {
    margin-bottom: 22px;
}

.hotels-search-set-item:last-child {
    margin-bottom: 0;
}

.hotels-search-set-label::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/catalog/checkbox-off.svg);
}

input:checked+.hotels-search-set-label::before {
    width: 27px;
    background-image: url(../img/catalog/checkbox-on.svg);
}

.type-houses-search-set {
    min-width: 182px;
    margin: 0;
    padding: 0;
    padding-top: 27px;
    padding-left: 119px;
    padding-bottom: 31px;
    border: none;
    color: var(--basic-white);
    text-transform: uppercase;
}

.type-houses-search-set-title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.type-houses-search-set-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.type-houses-search-set-label {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    padding-left: 40px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;
    cursor: pointer;
}

.type-houses-search-set-item {
    margin-bottom: 22px;
}

.type-houses-search-set-item:last-child {
    margin-bottom: 0;
}

.type-houses-search-set-label::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/catalog/checkbox-off.svg);
}

input:checked+.type-houses-search-set-label::before {
    width: 27px;
    background-image: url(../img/catalog/checkbox-on.svg);
}


/* Filter-search-form */

.filter-item {
    color: var(--basic-white);
    margin: 0 0 0 7px;
    padding: 0;
    border: none;
    padding-top: 27px;
    padding-right: 72px;
    margin-left: auto;
}

.range-filter {
    width: 317px;
}

.filter-item-legend {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    margin-bottom: 10px;
    margin-top: 0;
}

.price-controls {
    position: relative;
    display: flex;
    border: 2px solid var(--basic-white);
}

.min-price,
.max-price {
    width: 50%;
    padding: 0 10px 0 30px;
}

.min-price {
    padding: 0 10px 0 64px;
}

.max-price {
    padding: 0 10px 0 53px;
}

.price-controls::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 50%;
    width: 2px;
    height: 22px;
    background-color: var(--basic-white);
}

.min-price-input,
.max-price-input {
    width: 60px;
    padding: 8px 0;
    border: none;
    color: var(--basic-white);
    background-color: transparent;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 21px;
    margin-bottom: 16px;
}

.scale {
    height: 2px;
    background: var(--basic-white-03);
}

.bar {
    width: 80%;
    height: 2px;
    background-color: var(--basic-white);
}

.toggle {
    position: absolute;
    z-index: 2;
    top: 12px;
    width: 20px;
    height: 21px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--basic-gray-filter-button);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 3px 0 var(--basic-gray-filter-button-03);
}

.toggle:hover {
    transform: scale(1.2);
}

.toggle-min {
    left: 0%;
}

.toggle-max {
    left: 255px;
}

.show-btn {
    display: flex;
    justify-content: center;
    max-width: 306px;
}

.show {
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    background: none;
    color: var(--basic-white);
    text-transform: uppercase;
    padding: 7px 34px 8px 34px;
    cursor: pointer;
}

.show:hover {
    background: var(--basic-white);
    color: var(--basic-black);
}

.hotels-sorting {
    display: flex;
    align-items: center;
}

.hotels-sorting-actions {
    display: flex;
    flex-grow: 1;
    font-size: 12px;
    line-height: 18px;
}

.hotels-sorting-list {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: 40px;
    padding: 0;
}

.hotels-sorting-item {
    margin-right: 32px;
}

.hotels-sorting-results {
    margin-top: 29px;
    margin-bottom: 31px;
    margin-left: 73px;
    margin-right: 29px;
    font-size: 21px;
    line-height: 26px;
    width: 135px;
    font-weight: 700;
}

.hotels-sorting-arrows {
    margin-left: auto;
    padding-right: 73px;
}

.hotels-sorting-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black-03);
    border-bottom: 1px dotted var(--basic-blue);
    cursor: pointer;
}

.hotels-sorting-button-active {
    color: var(--basic-blue);
    pointer-events: none;
    opacity: 1;
    border: none;
}

.hotels-sorting-button:hover {
    color: var(--basic-blue);
    opacity: 1;
}

.hotels-sorting-button:active {
    color: var(--basic-black);
    opacity: 1;
    border: none;
}

.hotels-sorting-arrow {
    background-color: transparent;
    margin: 0;
    margin-left: 12px;
    padding: 0;
    border: 0;
    width: 11px;
    height: 10px;
    color: var(--basic-gray-arrow-up);
}

.hotels-sorting-arrow.active {
    color: var(--basic-blue);
}

.hotels-sorting-arrow:not(.active) {
    cursor: pointer;
}

.hotels-sorting-arrow:not(.active):hover {
    color: var(--basic-black);
}

.hotels-sorting-arrow:not(.active):active {
    color: var(--basic-blue);
}


/* Hotels-list */

.hotels-list {
    display: grid;
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--basic-light-grey-border-box);
}

.hotels-item {
    display: flex;
    list-style: none;
    padding: 30px 73px;
    border-bottom: 1px solid var(--basic-light-grey-border-box);
}

.hotel-info {
    display: flex;
    flex-wrap: wrap;
    margin-left: 29px;
}

.hotel-type {
    margin: 0;
    margin-right: 6px;
    margin-top: auto;
}

.hotel-type span {
    display: block;
    margin-bottom: 15px;
}

.hotel-type-button {
    padding: 3px 16px;
}

.hotel-link {
    margin-bottom: 8px;
    margin-top: -3px;
    width: 100%;
}

.hotel-link:hover {
    color: var(--basic-blue);
}

.hotel-link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.hotel-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    margin: 0;
}

.hotel-rating {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hotel-raiting-stars {
    font-size: 0;
    line-height: 0;
    background-image: url(../img/catalog/star.svg);
    height: 17px;
    width: 19px;
}

.hotel-raiting-stars-two {
    width: 38px;
}

.hotel-raiting-stars-three {
    width: 57px;
}

.hotel-raiting-stars-four {
    width: 76px;
}

.hotel-raiting-stars-five {
    width: 95px;
}

.hotel-rating-rate {
    background-color: var(--basic-light-grey);
    color: var(--basic-gray-text-rating);
    font-size: 14px;
    line-height: 21px;
    padding: 3px 12px 3px 15px;
}
